<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div>
        <img src="/images/IchacapsLogo.png" alt="Ichacaps" class="logo-img" />
      </div>

      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <div class="btn">
        <a href="/book" class="book-btn">Book Now</a>
      </div>
    </nav>
  </header>

  {{{body}}}

</body>
</html>